.u-section-1 .u-sheet-1 {
  min-height: 833px;
}

.u-section-1 .u-image-1 {
  width: 778px;
  height: 613px;
  margin: 110px auto 0 31px;
}

.u-section-1 .u-shape-1 {
  height: 478px;
  width: 296px;
  margin: -558px 274px 0 570px;
}

.u-section-1 .u-group-1 {
  min-height: 352px;
  width: 598px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  height: auto;
  margin: -415px 48px 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: Roboto, sans-serif;
  margin: 86px 376px 0 31px;
}

.u-section-1 .u-text-2 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 5rem;
  font-family: Raleway, sans-serif;
  margin: 20px 30px 0 31px;
}

.u-section-1 .u-text-3 {
  margin: 19px 31px 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

.u-section-1 .u-group-2 {
  min-height: 352px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  height: auto;
  margin-top: -266px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-4 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: Roboto, sans-serif;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-5 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 5rem;
  font-family: Raleway, sans-serif;
  margin: 20px 1px 0 0;
}

.u-section-1 .u-text-6 {
  margin: 19px 2px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    height: 614px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -559px;
    margin-left: 470px;
    margin-right: 174px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-text-5 {
    font-size: 3.75rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 787px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 568px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -513px;
    margin-left: 360px;
    margin-right: 64px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 812px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 426px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -520px;
    margin-left: 244px;
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 340px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-5 {
    font-size: 3rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 666px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 268px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: 44px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 140px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-right: 214px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-5 {
    font-size: 2.25rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 561px;
}

.u-section-2 .u-text-1 {
  font-family: "Ballet 16pt";
  margin: 202px auto 0;
}

.u-section-2 .u-text-2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  font-family: "Ballet 16pt";
}